/*This is the css for the side navbar*/

#sidenavbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #262525;
    border: 1px solid #000000;
}

.sidenav {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #555;
}

/* Change the link color on hover */
.sidenav:hover {
    background-color: #e3dfdf;
    color: white;
}

.active {
    background-color: #44CB8A;
    color: white;
}



/*.......................................................................................*/
#catlist{
  list-style-type: none;

}

.tile-outer{
  text-align: center;
  background-color: red;
  max-width: 1000px;
}

.tile-container{
  display: inline-block;
  /*background-color: blue;*/
  /*padding: 12px;
  margin: 12px;*/

}
/*
img {
  width: 300px;
  padding: 6px;

}*/

.tile-image{
  width: 150px;
  height:150px;
  /*padding: 5px;*/
  margin-left: 340px;
}

.myImage{
  width: 125px;
  height:50px;
  font-size: 1.2em;
  margin-top: 12px;

}

.tile-title{
  margin-top: 12px;
  background-color: green;
  font-size: 1.4em;
}

.tile-price{
  margin-top: 12px;
  background-color: yellow;
  font-size: 1.4em;
}

.tile-details{
  margin-top: 12px;
  background-color: cyan;
  font-size: 1.4em;
}
