.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}


/*This is the css for the side nav bar...............................................*/
#sidenavbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #262525;
    border: 1px solid #000000;
    color: #00ae88;
}

.sidenav {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #555;
}

/* Change the link color on hover */
.sidenav:hover {
    background-color: #e3dfdf;
    color: white;
}

.active {
    background-color: #44CB8A;
    color: white;
}

/*THIS IS CSS FOR THE HOVER EFFECT*/
.grow img {
  height: 150px;
  width: 6px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.grow img:hover {
  width: 300px;
  height: 300px;
}
/*.............................................................*/

#catlist{
  list-style-type: none;

}

.tile-outer{
  text-align: center;
  /*background-color: red;*/
  max-width: 1000px;
}

.tile-container{
  display: inline-block;
  /*background-color: blue;*/
  padding: 12px;
  margin: 12px;
}

.tile-image{
  width: 140px;
  height:100px;
  padding: 5px;


}

.tile-title{
  margin-top: 15px;
  /*background-color: green;*/
  font-size: 1.1em;
  height:150px;
  width: 125px;
}

.tile-price{
  margin-top: 12px;
  background-color: yellow;
  font-size: 1.4em;
  width:100px;
  height:50px;
}

.tile-details{
  /*margin-top: 12px;*/
  margin-bottom: 20px;
  background-color: cyan;
  font-size: 1.4em;
}

.myImage{
  width: 130px;
  height:50px;
  font-size: 1.2em;
  margin-top: 12px;

}


/*HOVER EFFECT PART 2*/
/*image hovering effect----------------------------------------------------------------------------------*/

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px;
}

.hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 50px 0 0;
    padding: 7px 14px;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover h2,
.hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
