#catlist{
  list-style-type: none;

}

.tile-outer{
  text-align: center;
  background-color: red;
  max-width: 1000px;
}

.tile-container{
  display: block;
  background-color: lightblue;
  padding: 12px;
  margin: 12px;
}

.tile-image > img {
  width: 150px;
  padding: 6px;

}

.tile-title{
  margin-top: 12px;
  font-size: 1.4em;
}

.tile-price{
  margin-top: 12px;
  font-size: 1.4em;
}

.tile-details{
  margin-top: 12px;
  background-color: cyan;
  font-size: 1.4em;
}
