th {
    background-color: #000000;
    color: white;
    text-align: center;
}

td {
  text-align: center;
  /*background-color: #565454;*/
}

table, th, td, tr, tbody {
   border: solid black;
}

tr:hover {background-color: #383737}
