<%inherit file="/homepage/templates/base.htm" />

<%block name="navbar">
<nav class="navbar navbar-inverse">

  <!--This is my site icon that goes in the top left hand corner of the webpage -->
      <div id="site_icon">
        <img src="${ STATIC_URL }homepage/media/fomo_logo.png" alt="FOMO logo" />
      </div><!--End of div for site_icon-->


  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/homepage/index">Home</a></li>
        <li><a href="/homepage/about">About</a></li>
        <li><a href="/homepage/contact">Contact</a></li>
        <li><a href="/homepage/faq">FAQ</a></li>
        <li><a href="/homepage/terms">Terms</a></li>
        <li><a href="/homepage/sections">Sections</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        %if request.user.is_authenticated:
       <li class="dropdown">
           <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Logged In
           <span class="caret"></span></button>
           <ul class="dropdown-menu">
             <li><a href="/account/logout">Logout</a></li>
             <li><a href="/account/password">Change Password</a></li>
             <li><a href="/account/edit">Edit Account</a></li>
           <!-- <li><a href="#">CSS</a></li>
           <li><a href="#">JavaScript</a></li> -->
           </ul>
       </li>

       %else:
          <li><a href="/account/create_user">Create Account</a></li>
          <li><a href="/account/login">Login</a></li>
       %endif
            </ul>
          </div><!-- collapse navbar-collapse -->
        </div> <!-- container-fluid -->
      </nav>
      </%block>
