<%inherit file="/homepage/templates/app_base.htm" />


<%! from catalog import models as cmod %>
<%block name="Content">
    <h2>order details</h2>
    <table class = "table table-striped">
        <tr>
          <th>Subtotal</th>
          <th>Shipping</th>
          <th>Tax</th>
          <th>Total</th>

        </tr>
        <tr>
          <td>$${user.calc_subtotal()}</td>
          <td>$10</td>
          <td>$${user.calc_total_tax()}</td>
          <td>$${user.calc_total()}</td>

        </tr>
        </table>
        <br>
        <!--Checkout.html-->

<form id-"form-stripe" action="/catalog/receipt/" method="POST">
  ${csrf_input}
<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="${key}"
  data-amount="$${user.calc_subtotal() * 100}"
  data-name="Demo Site"
  data-description="Widget"
  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
  data-locale="auto">
</script>
</form>

<!-- THIS IS THE LINK HEADING BACK TO THE CATALOG PAGE -->

<div class = "outer">
  <div class = "rightbarblue">
<br>
  <a class="btn btn-info" href ="/catalog/index">Back to Catalog</a>

  </div>
</div>


</%block>

<%block name="css">
  <link rel="stylesheet" type="text/css" href="${ STATIC_URL }catalog/templates/catalog.css">
</%block>


<%block name = "Left_Content">
</%block>
