<%! from catalog import models as cmod %>
<%inherit file="/homepage/templates/app_base.htm" />

<%block name="Left_Content">

<br>
<a href="/catalog/index">
<button align="center" class="btn btn-primary" type="button">Back to Catalog</button>
</a>

<br>
<br>
<ul id="sidenavbar">
  <a href="/catalog/index/"><li class="sidenav" style="color:#00ae88">All</li></a>

%for c in categories:
  <a href="/catalog/index/${ c.id }"><li class="sidenav" style="color:#00ae88">${ c.name }</li></a>
%endfor

</ul>


</%block>

<%block name="Content">

<h1 align="center" style="color:white">Product Details</h1>
<h5 style="color:white" align="center"><u>Click instrument for actual images</u></h5>
<br>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">${ product.name } Images</h4>
      </div>
      <div class="modal-body">
        <button id="picture_button_previous" class="btn btn-default">Previous</button>
        <button id="picture_button_next" class="btn btn-default">Next</button>

        %for p in product_images[1:]:
        <img class="product_image" src="${ p.filepath }" style="width:100px;height:200px;"/>
        %endfor

       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


    <div class="tile-container" align="middle">

      <div>
        <a data-toggle="modal" data-target="#myModal">
          <img class='tile-image' src="${ product.pictures.all()[0].filepath }" />
        </a>
      </div>
    </div>

    <ul>
        <li>Product Name: ${product.name}</li>
        <li>Product Category: ${product.category}</li>
        <li>Price: $${product.price}</li>
        <li>Desctiption: ${product.description}</li>

        %if hasattr(product, 'quantity'):
          <li>Quantity in Stock: ${product.quantity}</li>
        %endif

        %if hasattr(product, 'serial_number'):
          <li>Serial Number: ${product.serial_number}</li>
        %endif
    </ul>

    <!--This is my little button for Add to Cart-->
    ${form}


</%block>

<%block name="Right_Content">
<div class="container">
<div class="col-md-2">

<h3>Search History:</h3>

    %for p in last5:
    <a href="/catalog/detail/${ p.id }">
       <img class='myImage' src="${ p.pictures.all()[0].filepath }" alt="${ p.name }"/>
       ${ p.name }
       ${ p.price }
     </a>
    %endfor
</div>
</div>

</%block>
