<%inherit file="/homepage/templates/app_base.htm" />


<%block name="main_content">

<div class="container">
  <div class="row">

  <div class="col-md-2">


    <div class="row">
                  <form action = "/catalog/search" method="post">
                      ${ csrf_input }
                      <h3>
                      <label for="Product">Search:</label>
                      </h3>
                      <input id="instrument" type= text name= "instrument">
                      <br>
                      <br>

                      <input type ="submit" value="Search">
                  </form>
                  <br>
                  <br>

    <!-- This where the pictures of the different items end -->
    </div>
                <ul id="sidenavbar">
                  <a href="/catalog/index/"><li class="sidenav" style="color:#00ae88">All</li></a>

                %for c in categories:
                  <a href="/catalog/index/${ c.id }"><li class="sidenav" style="color:#00ae88">${ c.name }</li></a>
                %endfor

                </ul>

    </div>

<!-- ........................................................................./ -->

<div class="col-md-8">

<div class="row">

              <h1 align="center" style="color:white">List of Products</h1>

<!-- This where the pictures of the different items end -->
</div>

<div class="row">

                <div class="tile-outer">
                %for p in products:

                <a href="/catalog/detail/${ p.id }/">

                    <div class="tile-container shadow" >

                    <div class="tile-image hovereffect">
                      <img src="${ p.pictures.all()[0].filepath }" />
                    </div>

                    <div class="tile-title">
                      <p>${ p.name }</p>

                      <p>$${ p.price }</p>
                    </div>

                    <!-- <div class="tile-price">

                    </div> -->

                    </div>
                </a>
                %endfor

                </div>


<!-- This where the pictures of the different items end -->
      </div>

    </div>

<!-- ........................................................................./ -->
    <div class="col-md-2">

      <h3>Search History:</h3>


        %for p in last5:
        <a href="/catalog/detail/${ p.id }">
           <img class='myImage' src="${ p.pictures.all()[0].filepath }" alt="${ p.name }"/>
           ${ p.name }
           ${ p.price }
         </a>
        %endfor

    </div>

<!-- ........................................................................./ -->


<!-- END OF OVER ALL ROW....................... -->
</div>

<!-- END OF CONTAINER-->
</div>

</%block>


<%block name="footer">
<div class="footer">

      <%! from datetime import datetime %>
      &copy; Copyright Group2-14 Corporation ${datetime.now().year}


</div>

</%block>
