<%inherit file="/homepage/templates/app_base.htm" />

<%block name="main_content">
<div id="subscribe" class="col-md-4">
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//ltd.us15.list-manage.com/subscribe/post?u=bebe94a5b683bb74297e756c0&amp;id=be24781c78" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bebe94a5b683bb74297e756c0_be24781c78" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</div>

<div class="col-md-8">
<h1 class="text-center">Utah's Largest Music Collection</h1>
<h3 class="text-center">Digital and Hardcopy Versions Available</h3>
<p class="text-center">FOMO has the largest collection of sheet music that you will find here in Utah. We have vast selections from famous composers such Beethoven, Mozart, Bach, Handel
and many others. Perhaps you prefer more modern pieces from more modern artists such as The Beatles, Green Day, Taylor Swift, Bruno Mars, Michael Jackson and many others. We also have pretty
much any other music you can think of, from movies like Pirates of the Caribbean, video games like Halo, and thousands of religious pieces and arrangements. Browse today and find what you
need, and we can either send you a hard copy or a digital copy, whichever you prefer. Also, if you subscribe today, you will receive the latest deals on our collection of sheet music, and also
be informed of new additions we bring in. If you have a request you cannot find, please let us know. </p>

<div class="browse-btn">
<a href="#" class="btn btn-primary">Browse Sheet Music</a>
</div>
</div>
</%block>

<%block name="footer">
<div class="footer">
  <%! from datetime import datetime %>
  <p class="smaller-font">© Copyright ${datetime.now().year}, Group2-14 Corporation</p>
</div>
</%block>
