<%inherit file="/homepage/templates/app_base.htm" />


<%block name="main_content">
  <h1 class="text-center">List of Products</h1> <br>

  <table class="table table-striped table-bordered">
      <tr>
          <th>Category</th>
          <!--<th>Rental</th>-->
          <th>Name</th>
          <th>Details</th>
      </tr>
          % for p in products:
          <tr>
              <td>${ p.category.name }</td>
                <!--<th>
                      %if hasattr(p, 'is_rental'):
                          Yes
                      %else:
                          No
                      %endif
                </th>-->
              <td>${ p.name }</td>
              <td>
                <a href="/catalog/detail/${ p.id }/" class="btn btn-primary">Details</a>
              </td>
          </tr>
      % endfor
  </table>
  </%block>
