<%inherit file="/homepage/templates/app_base.htm" />




<%block name="main_content">

<div class="row">

  <div class="col-md-2">

          <br>
          <a href="/catalog/index">
          <button align="center" class="btn btn-primary" type="button">Back to Catalog</button>
          </a>

          <br>
          <br>
          <ul id="sidenavbar">
            <a href="/catalog/index/"><li class="sidenav" style="color:#00ae88">All</li></a>

          %for c in categories:
            <a href="/catalog/index/${ c.id }"><li class="sidenav" style="color:#00ae88">${ c.name }</li></a>
          %endfor

          </ul>

  </div>

  <div class="col-md-8">

    %for item in product:
    <a href="/catalog/detail/${ item.id }/">
        <div class="tile-container">

        <div class="tile-image">
          <img src="${ item.pictures.all()[0].filepath }" />
        </div>

        <div class="tile-title">
          ${ item.name }

          <br>
           <!-- Description: ${ item.description } -->

        </div>

        <div class="tile-price">
          $${ item.price }
        </div>



        </div>
</a>
    %endfor
  </div>

</div>


</%block>
