<%inherit file="/homepage/templates/app_base.htm" />
<%! from catalog import models as cmod %>
<%block name="css">
  <link rel="stylesheet" type="text/css" href="${ STATIC_URL }catalog/templates/catalog.css">
</%block>

<%block name = "Right_Content">

</div>
</%block>
<%block name="Content">

<br>
<p>Please enter the Address where you would like your items to ship.<p>
${form}
%if useform == False:
  %if worked:
 <p>Please verify the following address: ${address}<p>
  <p>If the address is incorrect, please correct the form and resubmit<p>
    <a class="btn btn-warning btn-sm" href ="/catalog/checkout/">Verify</a>
   %else:
   <p>No address was found.  Please enter valid shiping address and resubmit form.<p>
     %endif
%endif
</%block>
<%block name = "Left_Content">

<div class = "outer">
  <div class = "rightbarblue">
    <br>
    <center>
  <a class="btn btn-info" href ="/catalog/index">Back to Catalog</a>
</center>
  </div>
</div>
</%block>
