<%inherit file="/homepage/templates/app_base.htm" />

<!--This block will display the shopping cart content, their: name, image, price, quantity, and extended amount-->
<%block name="main_content">

<div class="container">
  <div class="row">
    <h1 class="text-center">${ request.user.first_name } ${ request.user.last_name}'s Shopping Cart</h1>
      <div class="col-md-7">


              <table class="table">
                  <tr>
                      <th>Name</th>
                      <th>Image</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Extended Amount</th>
                      <th>Options</th>
                  </tr>

                  % for p in products:
                  <tr>
                      <td><a href="/catalog/detail/${ p.product.id }/">${ p.product.name }</a></td>
                      <td><img src="${ p.product.pictures.all()[0].filepath }"</td>
                      <td>$${ p.product.price }</td>
                      <td>${ p.quantity }</td>
                      <td>${ p.calc_ext_amount() }</td>
                      <td>
                        <a href="/catalog/shoppingcart.delete/${ p.id }" class="btn btn-danger delete_link">Delete</a>
                      </td>
                  </tr>
                  % endfor

              </table>


              <!-- this is the end of the table column............................................... -->
              </div>

 <!--............................................... -->
            <div class="col-md-5">

              <table class="table ">
                 <thead>
                   <tr>
                     <th>Subtotal</th>
                     <th>Tax</th>
                     <th>Shipping</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td>$${request.user.calc_subtotal()}</td>
                     <td>$${request.user.calc_total_tax()}</td>
                     <td>$${request.user.calc_shipping()}</td>
                   </tr>
                   <tr>
                     <td><b>Total: $${request.user.calc_total()}</b></td>

                   </tr>
                 </tbody>
               </table>

               <a class="btn btn-primary btn-sm" href="/catalog/shipping/">Checkout</a>


            </div>
 <!--.............................................. -->



<!-- this is the end of the row............................................... -->
</div>

<!-- this is the end of the container............................................... -->
</div>

</%block>
