<%inherit file="/homepage/templates/app_base.htm" />
<%! from catalog import models as cmod %>

<%block name="Content">
    <h2 align="center" style="color:white">Thank you for your business!</h2>
    <p>Items will be shipped to you shortly. You can bookmark this page and return here anytime to review the following details.
    <table class = "table table-striped">
        <tr>
          <th>Subtotal</th>
          <th>Shipping</th>
          <th>Tax</th>
          <th>Total</th>

        </tr>
        <tr>
          <td>$${sale.subtotal}</td>
          <td>$10.00</td>
          <td>$${sale.get_tax()}</td>
          <td>$${sale.total}</td>

        </tr>
        </table>
        <br>
        <!--Checkout.html-->

        <div class = "outer">
          <div class = "rightbarblue">
            <br>
            <center>
          <a class="btn btn-info" href ="/catalog/index">Back to Catalog</a>
        </center>
          </div>
        </div>

</%block>
<%block name="css">
  <link rel="stylesheet" type="text/css" href="${ STATIC_URL }catalog/templates/catalog.css">
</%block>
