<%inherit file="/homepage/templates/app_base.htm" />

<%block name="Left_Content">
<br>
<a href="/manager/products">
<button align="center" class="btn btn-primary" type="button">Back to Products</button>
</a>
</%block>

<%block name="Content">

    ${ form }

</%block>
