<%inherit file="/homepage/templates/app_base.htm" />

<%block name="Left_Content">
<br>
<a href="/manager/users">
<button align="center" class="btn btn-primary" type="button">Back to Users</button>
</a>
</%block>

<%block name="Content">

    ${ form }

</%block>


<!-- Footer -->
  <%block name="footer">
  <div class="footer1">

        <%! from datetime import datetime %>
        &copy; Copyright Group2-14 Corporation ${datetime.now().year}


  </div>
  </%block>
