<%inherit file="/homepage/templates/app_base.htm" />

<%block name="Left_Content">
<br>
<a href="/manager/users">
<button align="center" class="btn btn-primary" type="button">Back to Users</button>
</a>
</%block>

<%block name="Content">
    <h1 class="text-center">Edit User</h1>
    ${ form }
    <br>
    <br>
    <br>
</%block>
