<%inherit file="/homepage/templates/app_base.htm" />


<%block name="main_content">
  <h1 class="text-center">List of Products</h1> <br>
  <div id="create_button">
      <a href="/manager/create_product/" class="btn btn-primary">Create Product</a>
</div>

  <table class="table table-striped table-bordered">
      <tr>
          <th>Category</th>
          <!--<th>Rental</th>-->
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Serial Number</th>
          <th>Edit Product</th>
          <th>Delete Product</th>
      </tr>


          % for p in products:
          <tr>
              <td>${ p.category.name }</td>
                <!--<th>
                      %if hasattr(p, 'is_rental'):
                          Yes
                      %else:
                          No
                      %endif
                </th>-->
              <td>${ p.name }</td>
              <td>$${ p.price }</td>
              <td>
                    % if hasattr(p, 'quantity'):
                      ${ p.quantity }
                    <button data-pid="${ p.id }" class="update_quantity_button pull-right btn btn-info btn-sm">Update</button>
                        <!--<span class="quantity_text"></spen>-->

                    %else:
                        -
                    %endif
              </td>
              <td>
                  % if hasattr(p, 'serial_number'):
                        ${ p.serial_number }
                    %else:
                        -
                    %endif
              </td>
              <td>
                  <a href="/manager/product/${ p.id }/" class="btn btn-success">Edit</a>
              </td>
              <td>
                <a href="/manager/product.delete/${ p.id }/" class="btn btn-danger delete_link">Delete</a>
              </td>
          </tr>
      % endfor
  </table>

  <!-- Modal -->
  <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Confirm</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this product?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <a id="really-delete-link" class="btn btn-danger">Yes</a>
        </div>
      </div>
    </div>
  </div>

</%block>


<!-- Footer -->
  <%block name="footer">
  <div class="footer1">

        <%! from datetime import datetime %>
        &copy; Copyright Group2-14 Corporation ${datetime.now().year}


  </div>
  </%block>
