<%inherit file="/homepage/templates/app_base.htm" />

<%block name="main_content">

  <h1 class="text-center">List of Users</h1> <br>
  <div id="create_button" class="text-center">
      <a href="/manager/create_user/" class="btn btn-primary">Create User</a>
  </div>
  
<br>

  <table class="table table-bordered">
      <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>Change Password</th>
      </tr>

      % for u in users:
      <tr>
          <td>${ u.last_name }</td>
          <td>${ u.first_name }</td>
          <td>${ u.username }</td>
          <td>${ u.email }</td>
          <td>
              <a href="/manager/user/${ u.id }" class="btn btn-success">Edit</a>
          </td>
          <td>
            <a href="/manager/user.delete/${ u.id }" class="btn btn-danger delete_link2">Delete</a>
          </td>
          <td>
            <a href="/manager/change_password/${ u.id }" class="btn btn-info">Change Password</a>
          </td>
      </tr>
      % endfor
  </table>

  <!-- Modal -->
  <div class="modal fade" id="ConfirmModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Confirm</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this user?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <a id="really-delete-link2" class="btn btn-danger">Yes</a>
        </div>
      </div>
    </div>
  </div>

</%block>
