<%inherit file="/homepage/templates/app_base.htm" />

<%block name="Content">
    <div class="content">
        <h3 class="text-center">Congratulations -- you've successfully logged into/updated your account!</h3>
    </div>
</%block>
