<%inherit file="/homepage/templates/base_ajax.htm" />

<%block name="content">

<div class="text-center">

      <div class="text-left inline-block">
          <h4>Login:</h4>
          <br>
          <div id="login-modal-form">
            ${ form }
          </div>
    </div>
</div>
</%block>
