<%inherit file="app_base.htm" />


<%block name="main_content">

<div class="row">
<!--.............................................................................................  -->
  <div class="col-md-2">

  </div>

<!--.............................................................................................  -->
  <div class="col-md-8">

  <h1 align="center" style="color:white">Our Mission</h1>
  <h4 align="center">"To help lovers of music perform at their ultimate best"</h4>

<br>

        <p>The Family Oriented Music Organization, founded back in 1980, has always been focused on two ideas: family and music. We understand the value of family, and the value of music, and
          it is our desire to maximize these values. We strive to provide the best quality of instruments, accessories and services to our customers, for the best prices. We welcome you to the FOMO
          Family where we look after our own; and we'll take care of you and meet your needs to the best of our ability. <br> <br>

          FOMO is Utah's largest dealer of name brand band and orchestra instruments such as: trumpets, trombones, tubas,
          clarinets, flutes and saxophones. We offer rentals, sales and repairs for most types of musical products.</p> <br>

          <h2 align="center" style="color:white">Accessibility Statement</h2>
          <p>Our desire is to server you the best we can, and part of that involves making our website as accessible as we possibly can, making it easier for you to navigate. Here are some of <thead>
            things we've implemented for you:
          <ul>
            <li>Alt statements have been included with every image which provides a clear text alternative of the image for screen reader users</li>
            <li>Visible lables are used outside of the text boxes on the contact form</li>
            <li>Hierarchical headingds are in place</li>
            <li>The "About Us" section has been changed to make it easier to understand.</li>
          </ul>

          </thead></p>

            </div>
<!--.............................................................................................  -->
<div class="col-md-2">

</div>
</%block>
