<%inherit file="base.htm" />

<%block name="navbar">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
              <!-- <a class="navbar-brand topnav" href="#">FOMO</a> -->
              <!--This is my site icon that goes in the top left hand corner of the webpage -->
              <div id="site_icon">
                <img src="${ STATIC_URL }homepage/media/fomo_logo.png" alt="FOMO logo" />
              </div><!--End of div for site_icon-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="${ 'active' if request.dmp_router_page == 'index' and request.dmp_router_app == 'homepage' else '' }"><a href="/">Home</a></li>
              <li class="${ 'active' if request.dmp_router_page == 'about' else '' }"><a href="/about/">About</a></li>
              <li class="${ 'active' if request.dmp_router_page == 'contact' else '' }"><a href="/contact/">Contact</a></li>
              <li class="${ 'active' if request.dmp_router_page == 'faq' else '' }"><a href="/faq/">FAQ</a></li>
              <li class="${ 'active' if request.dmp_router_page == 'terms' else '' }"><a href="/terms/">Terms</a></li>
              <!--<li class="${ 'active' if request.dmp_router_page == 'sections' else '' }"><a href="/sections/">Sections</a></li>-->
              <li class="${ 'active' if request.dmp_router_app == 'index' and request.dmpt_router_app == 'catalog' else '' }"><a href="/catalog/index/">Catalog</a></li>


            %if request.user.is_authenticated:

                    <li><a href="/catalog/shoppingcart/"><span class="glyphicon glyphicon-shopping-cart">Cart: <span> ${request.user.item_count()}</span></a></li>

                    <li class="dropdown">
                       <a style="cursor:pointer" data-toggle="dropdown">Welcome ${ request.user.first_name }!</a>
                       <span class="caret"></span></button>
                       <ul class="dropdown-menu">
                               <li><a href="/account/edit/${user.id}/">Edit account information</a></li>
                               <li><a href="/account/password/${user.id}/">Edit password</a></li>
                                %if request.user.is_superuser:

                                <li class="${ 'active' if request.dmp_router_app == 'products' and request.dmpt_router_app == 'manager' else '' }"><a href="/manager/products">Products</a></li>

                                <li class="${ 'active' if request.dmp_router_app == 'users' and request.dmpt_router_app == 'manager' else '' }"><a href="/manager/users">Users</a></li>

                                %endif
                                <li><a href="/account/logout">Logout</a></li>
                       </ul>
                    </li>

            %else:
                    <li><a href="/account/create_user/">Register</a></li>
                    <li><a id="login-modal-button" style="cursor:pointer" data-toggle="dropdown">Login</a></li>
            %endif

          <!-- <li><a href="/account/login">Login</a></li> -->




          </ul>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

</%block>

<!-- Footer -->
  <%block name="footer">
  <div class="footer">

        <%! from datetime import datetime %>
        &copy; Copyright 214 Consulting ${datetime.now().year}


  </div>
  </%block>
