## this is the skeleton of all pages on in this app - it defines the basic html tags

## imports
<%! from django_mako_plus import get_template_css, get_template_js %>

<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>

        <link rel="icon" href="${STATIC_URL}homepage/media/fomo_logo.png">

        <title><%block name="page_title">FOMO</%block></title>

        ## add any site-wide scripts or CSS here; for example, jquery:
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="${ STATIC_URL }homepage/media/jquery.datetimepicker.full.js" /></script>
        <script src="${ STATIC_URL }homepage/media/jquery.loadmodal.js" /></script>
        <script src="${ STATIC_URL }homepage/media/jquery.form.js" /></script>
        <script src="${ STATIC_URL }homepage/media/bootstrap/js/bootstrap.min.js"/></script>

        <!--This is where I'm adding in my CDN for my custom boostrap -->
        <link rel="stylesheet" href="${ STATIC_URL }homepage/media/bootstrap2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="${ STATIC_URL }homepage/media/jquery.datetimepicker.min.css" />

        <!-- This is my custom style sheet -->
        <link rel="stylesheet" href="${ STATIC_URL }homepage/styles/base.css" />
        <link rel="stylesheet" href="${ STATIC_URL }catalog/styles/landing.css" />




        ## render the css with the same name as this page
        ${ get_template_css(self, request, context) }

    </head>

    <body>

      <header>

        <!-- block for my maintenance_header -->
        <%block name="maintenance_header">
        </%block>


        <%block name="alert">
        </%block> <!-- end of block for alert -->



        <!-- THIS IS WHERE THE NAVBAR BEGINS ----------------------------->
         <!-- <nav class="navbar navbar-inverse" role="navigation"> -->

           <!--This is my site icon that goes in the top left hand corner of the webpage -->
           <!-- <div id="site_icon"> -->
             <!-- <img src="${ STATIC_URL }homepage/media/fomo_logo.png" alt="FOMO logo" /> -->
           <!-- </div> -->
           <!--End of div for site_icon-->

           <!-- Navigation -->

           <!-- <div class="container"> -->
               <!-- Brand and toggle get grouped for better mobile display -->
               <!-- <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
               </div> -->

               <!-- Collect the nav links, forms, and other content for toggling -->
               <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                   <ul class="navbar-brand">
                   </ul> -->


        <!--  this is where my menu items are i.e home, about, contact, terms, sections etc-->

                   <%block name="navbar">


                   </%block>

                   <%block name="Kart">
                   </%block>


        <!-- end of my menu items ------------------------------------------------------------>





              <!-- </div> -->


              <!-- /.navbar-collapse -->
              <!-- </div> -->
         <!-- </nav> -->




      </header>

        <!-- section after navbar begins  ---------------------------------------------------------------->
        <%block name="below_navbar">
        <!-- Homepage not show breadcrumb -->
           % if request.path == '/homepage/index':

           <!-- Homepage not show breadcrumb -->
           %elif request.path == '/':

           <!-- Homepage not show breadcrumb -->
           %elif request.path == '/index/':

           <!-- Account Login Redirect only shows Account/Login -->
           %elif request.path == '/account/login/':
           <nav class="breadcrumb">
             <a class="breadcrumb-item" href="/index/">Home |</a>
             <a class="breadcrumb-item" href="${request.get_full_path()}">Account/Login</a>
           </nav>

           <!-- Else show normal dynamic Breadcrumb -->
           %else:
           <nav class="breadcrumb">
             <a class="breadcrumb-item" href="/index/">Home |</a>
             <a class="breadcrumb-item" href="${request.get_full_path()}">${request.get_full_path().strip('/').title()}</a>
           </nav>
           %endif
        </%block>

        <div class="container-fluid">

          <div class="row">

            <%block name="main_content">

                  <div class="col-md-2 left">
                  <%block name="Left_Content">

                  </%block>
                </div><!-- col-md-2 left -->

                  <div class="col-md-8 center">

                    <%block name="Content_Top">

                    </%block>

                  <%block name="Content">

                  </%block>
                </div><!--col-md-8 center-->

                  <div class="col-md-2 right">
                  <%block name="Right_Content">

                  </%block>
                  </div>

            </%block><!--main_content-->

        </div><!-- row -->

      </div><!-- container -->

      <!-- section before footer begins  ---------------------------------------------------------------->
      <%block name="before_footer">
      </%block>


      <!-- Footer -->
      <%block name="footer">

      </%block>


        <!--Render the JS with the same name as this page-->
        ${ django_mako_plus.link_js(self) }

    </body>
</html>
