<%inherit file="app_base.htm" />


<%block name="main_content">

<div class="container">
<div class="row">
  <div class="col-md-8">

  </div>
</div>


              <div class="row">
                      <!-- <div class="col-md-2">

                      </div> -->

                      <div class="col-md-8">
                        ${ form }
                      </div>

                      <div class="col-md-4">
                        <!-- <div class="container bootstrap snippets"> -->

                                            <div class="row" align="center">
                                              <div class="contact-detail-box">
                                                <i class="fa fa-th fa-3x text-colored"></i>
                                                <h4>Get In Touch</h4>
                                                <abbr title="Phone">P:</abbr> (703) 595-8300<br>
                                                E: <a style="color:white" href="mailto:fomo@gmail.com" class="text-muted">fomo@email.com</a>
                                              </div>
                                            </div><!-- end col -->


                                            <br>
                                            <div class="row" align="center">
                                              <div class="contact-detail-box">
                                                <i class="fa fa-map-marker fa-3x text-colored"></i>
                                                <h4>Our Location</h4>

                                                <address>
                                                344 N 800 E<br>
                                                Provo, Utah<br>
                                              </address>
                                              </div>
                                            </div><!-- end col -->


                                              <br>
                                            <div class="row" align="center">
                                              <div class="contact-detail-box">
                                                <i class="fa fa-book fa-3x text-colored"></i>
                                                <h4>Hours Opened</h4>

                                                <p>We are opened from: <br>
                                                   8am - 5pm, Mon - Fri<br>
                                                        Sat 9am - 3pm</p>
                                                <!-- <h4 class="text-muted">Sat 9am - 3pm</h4> -->
                                              </div>
                                            </div><!-- end col -->


                                            <br>

                                            <div class="row" align="center">

                                              <div class="col-md-4">
                      <a style="width:55px;height:55px;" href="https://www.facebook.com/"><img src="${ STATIC_URL }homepage/media/img/fb1.png" class="img-responsive"></a>

                      </div>

                      <div class="col-md-4">
                          <a style="width:55px;height:55px;" href="https://twitter.com/?lang=en"><img src="${ STATIC_URL }homepage/media/img/Twitter-px.png" class="img-responsive"></a>

                      </div>

                      <div class="col-md-4">
                          <a style="width:55px;height:55px;" href="https://www.instagram.com/?hl=en"><img src="${ STATIC_URL }homepage/media/img/instagram.jpeg" class="img-responsive"></a>
                      </div>

                                            </div>


                                          <!-- end row -->

                    <!-- </div> -->

                      </div>

              </div>
</div>
</%block>
