<%inherit file="app_base.htm" />


<%block name="main_content">

<!-- <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/about/">About</a></li>
    <li class="breadcrumb-item"><a href="/contact/">Contact</a></li>
  <li class="breadcrumb-item active">FAQ</li>
</ol>
 -->

<div class="container">


  <div class="page-header" style="color:white">
    <h1>FAQ
      <small style="color:black">Frequently Asked Questions</small>
    </h1>
  </div>

  
<div class="row">

          <!-- no code ---------------------------------------------------------------------------------->
          <div class="col-md-2">


          </div>
          <!-- no code ---------------------------------------------------------------------------------->









                                  <div id="faq" class="col-md-8">
                                    <div class="panel-group" id="accordion">

                                      <!-- FIRST QN  ---------------------------------------------------------------------------------->
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                              href="#collapse-1">
                                            Can I really buy an instrument?
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapse-1" class="panel-collapse collapse">
                                          <div class="panel-body">
                                            <p>Absolutely
                                            </p>
                                          </div>
                                          <div class="panel-footer">
                                            <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                                            <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div>
                                          </div>
                                        </div>
                                      </div>


                                      <!-- SECOND QN  ---------------------------------------------------------------------------------->
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                              href="#collapse-2">
                                              What does FOMO stand for?
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapse-2" class="panel-collapse collapse">
                                          <div class="panel-body">
                                          <p> Family Oriented Music Organization</p>
                                          </div>
                                          <div class="panel-footer">
                                            <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                                            <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div>
                                          </div>
                                        </div>
                                      </div>

                                      <!-- THIRD QN  ---------------------------------------------------------------------------------->
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                              href="#collapse-3">
                                            What are your terms and conditions?
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapse-3" class="panel-collapse collapse">
                                          <div class="panel-body">
                                            <p>Feel free to click on the tab labeled, "Terms" to learn more about our terms and conditions<</p>
                                          </div>
                                          <div class="panel-footer">
                                            <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                                            <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div>
                                          </div>
                                        </div>
                                      </div>

                                      <!-- 4th QN  ---------------------------------------------------------------------------------->
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                              href="#collapse-5">
                                            What's your largest room capacity?
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapse-5" class="panel-collapse collapse">
                                          <div class="panel-body">
                                            <p> The largest room can occupy 250 peopl. </p>
                                          </div>
                                          <div class="panel-footer">
                                            <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                                            <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div>
                                          </div>
                                        </div>
                                      </div>

                                      <!-- 5th QN  ---------------------------------------------------------------------------------->
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                              href="#collapse-8">
                                             I have a question that isn't listed here, how can I find an answer?
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapse-8" class="panel-collapse collapse">
                                          <div class="panel-body">
                                            <p> Please click on the Contact tab found in the navigation bar at the top of the screen to reach us with any personal questions you may have.</p>
                                          </div>
                                          <div class="panel-footer">
                                            <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                                            <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Report this question</a></div>
                                          </div>
                                        </div>
                                      </div>

                            </div>
                </div>




  <!-- end of column where code is ---------------------------------------------------------------------------------->



              <!-- no code ---------------------------------------------------------------------------------->
              <div class="col-md-2">


              </div>
              <!-- no code ---------------------------------------------------------------------------------->

<!-- this is where the row ends  -->
</div>


<!-- this is where the container -->
</div>



</%block>
