<%inherit file="/homepage/templates/app_base.htm" />

<!-- This is my custom style sheet -->
<!--<link rel="stylesheet" href="${ STATIC_URL }homepage/styles/index.css" />-->

<%block name="main_content">

<div class="intro-header">
      <div class="container">

          <div class="row">
              <div class="col-lg-12">
                  <div class="intro-message">
                      <h1 id="shadow_effect">Family Oriented Music Organization</h1>
                      <h3>Welcome!</h3>
                      <hr class="intro-divider">
                      <ul class="list-inline intro-social-buttons">
                          <li>
                              <a href="/homepage/about" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">About</span></a>
                          </li>
                          <li>
                              <a href="/catalog/index" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Products</span></a>
                          </li>
                          <li>
                              <a href="/homepage/contact" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Contact</span></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

      </div>
      <!-- /.container -->
    </div>
    <!-- /.intro-header -->
      </%block>

      <!-- Footer -->
      <%block name="footer">

      <div class="footer">

            <%! from datetime import datetime %>
            &copy; Copyright Group2-14 Corporation ${datetime.now().year}


      </div>

      </%block>
