<%inherit file="app_base.htm" />


<%block name="Content">
  <div class="terms">
    <h1 style="color:white" align="center">Terms and Conditions</h1>

    <h3 style="text-align:center">1. Introduction</h3>
    <p>These Website Standard Terms and Conditions written on this webpage shall manage your use of this website. These Terms will be applied fully and affect to your use of this Website.
  By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.</p>


  <h3 style="text-align:center">2. Intellectual Property Rights</h3>
  <p>Other than the content you own, under these Terms, FOMO and/or its licensors own all the intellectual property rights and materials contained in this Website.
    You are granted limited license only for purposes of viewing the material contained on this Website.</p>

     <h3 style="text-align:center">3. Your Content</h3>
     <p>In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text, images or other material you choose to display on this Website. By displaying Your
       Content, you grant FOMO a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.
       Your Content must be your own and must not be invading any third-party’s rights. FOMO reserves the right to remove any of Your Content from this Website at any time without notice. </p>

     <h3 style="text-align:center">4. No Warranties</h3>
     <p>This Website is provided “as is,” with all faults, and FOMO express no representations or warranties, of any kind related to this Website or the materials contained on this Website.
       Also, nothing contained on this Website shall be interpreted as advising you.</p>

     <h3 style="text-align:center">5. Limitation of liability</h3>
     <p>In no event shall FOMO, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether
        such liability is under contract.  FOMO, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or
         in any way related to your use of this Website.</p>

    <br>
    <br>
    <br>

</%block>
