th {
    background-color: #000000;
    color: white;
    text-align: center;

}

td {
  text-align: center;
  background-color: #636262;
}

table, th, td, tr, tbody {
   border: solid black;
}

/*footer css for relative footer */
.footer1 {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  text-align: center;
  background-color: black;
  color: white;
  right: 0;
  bottom: 0;
  left: 0;
  position: relative;

}

/**/
h1 {
    color: white;
    text-shadow: 8px 8px 10px #000000;
}

h2 {
    color: white;
    text-shadow: 8px 8px 10px #000000;
}

h3 {
    color: white;
    text-shadow: 8px 8px 10px #000000;
}


#site_icon{
  display: inline-block;
  float: left;
  /*background-color:#ffffff;*/
  height: 55px;
  width: 55px;
}

#site_icon > img {
  height:55px;
  width:55px;

}

.navbar{
  /*background-color: #426EFF;
  height: 75px;*/
}

.navbar-brand{
  font-size: 30px;
}

#navbar_row{
  text-align: center;
}

body{
  padding-bottom: 25px;
  /*background-color: #e8e8ee;*/
  background: url("http://cdn.wallpapersafari.com/47/78/91kTch.jpg") no-repeat center center;
  color: black;
}

.footer{

    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;
    background-color: black;
    color: white;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}
