#shadow_effect {
    color: white;
    text-shadow: 8px 8px 10px #000000;
}

#family{
  margin: auto;
  border: 3px solid black;
  display: block;

}

#home_header{
  font-family: fantasy;
  font-size: 52px;
}

#home_sub{
  font-family: fantasy;
  font-size: 26px;
}

#guitar{
  height:500px;
  width: 250px;
  left: 0px;
  margin-top: 50px;
}

#cello{
  height: 500px;
  width: 250px;
  margin-top: 50px;
}
