.maintenance_header{
  top: 0;
  background-color: red;
  height: 20px;
  width: 100%;
  text-align: center;
}

.navbar navbar-inverse{
  position:relative;
}

.below_navbar{
  position: absolute;
  background-color: purple;
  width: 100%;
  height: 20px;
  text-align: center;
  top: 95.1px;
}

.section_left{
  position: absolute;
  background-color: blue;
  margin-left: -198px;
  margin-right: -15px;
  height: 590px;
}

.section_right{
  position: absolute;
  background-color: pink;
  margin-right: -181px;
  margin-left: -30px;
  height: 590px;
}

.section_center{
  background-color: lightblue;
  height: 573px;
  margin-top: -18px;
}

.section_top{
  background-color: magenta;
  height: 15px;
  text-align: center;
}

.before_footer{
  background-color:black;
  color:red;
  font-size: 12px;
  height: 25px;
  text-align: center;
}

.alert{
position: fixed;
width: 325px;
top:20px;
right:90px;
z-index: 10000;
height: 74px;
}
