th {
    background-color: #000000;
    color: white;
    text-align: center;
}

td {
  text-align: center;
  background-color: #ededed;
}

table, th, td, tr, tbody {
   border: solid black;
}

#form-stripe {
  position: center;
}

body {

  color: black;
}
